@model SviyajskMonitorSystem.Models.CulcherObject

@{
    ViewData["Title"] = "Delete";
}



<h3>Вы хотите удалить данный элемент?</h3>
<div>
    <h4>ОКН</h4>
    <hr />
    <dl class="dl-horizontal">
      
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            <a asp-action="Index">Назад</a>
        </div>
    </form>
</div>
