@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_SimpleLayout";
}
<h3>Ваш запрос внесен в систему. Ожидайте ответ по указанному email.</h3>