@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="main-content" style="    text-align: -webkit-center;">
    <ng-template #init>
        <createtree (OnTreeCreator)="OnTreeCreator($event)" >

        </createtree>
    </ng-template>
    <div *ngIf="redactor;else init">
        <tree [elementid]="tp.matobj" [typeid]="tp.type">

        </tree>
    </div>
</div>