@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<TreeType>
<div class="main-content" style="    text-align: -webkit-center;">
<h2>Виды разбиения материальных объектов</h2>
<a asp-action="CreateType" asp-controller="TreeTypes" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Создать</a>
@foreach(var item in Model)
{
    <h4>@item.name</h4>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <tr>
            <th>Название</th>
            <th>тип</th>
            <th>Название справочника</th>
        </tr>
        @foreach(var attrkey in item.keys)
        {
            <tr>
                <td>@attrkey.name</td>
                <td>@LowLevelHelper.AttributeTypeToRussianString(attrkey.type)</td>
                @if (attrkey.type == AttributeTypes.Choosable)
                {
                   <td>@attrkey.entitytype.Name</td>

                }
                else { <td>Нет</td>}
            </tr>

        }
    </table>
    
}

</div>