@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<AbstractAttributeValue>



    <h4>Информация об элементе</h4>
    @foreach (var item in Model)
    {
        if (item.attributekey.type != AttributeTypes.photo)
        {
        <div>
            <label>@item.attributekey.name :</label>
            <label>@item.getvalue()</label>
        </div>
        }
        else
        {


        }

    }
