@model SviyajskMonitorSystem.Models.ChemistryElement

@{
    ViewData["Title"] = "Delete";
}


<h3>Вы хотите удалить данный элемент?</h3>
<div>
    <h4>Химический элемент</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fullname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fullname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.shortname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.shortname)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <button type="submit"  class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Удалить</button> |

            <a asp-action="Index" style="color:#3F51B5">Назад</a>
        </div>
    </form>
</div>
