@model IEnumerable<SviyajskMonitorSystem.Models.ChemistryElement>

@{
    ViewData["Title"] = "Index";
}


<div class="main-content" style="    text-align: -webkit-center;">

<p>
    <a asp-action="Create"
    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Добавить</a>
</p>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
        <tr>
            <th>
                Полное имя
            </th>
            <th>
               Короткое имя
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shortname)
            </td>
            <td>
                <a asp-action="Delete" style="color:#3F51B5;" asp-route-id="@item.id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>